@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



@theme {

  --color-default-primary-light: #f3f4f6;
  --color-default-secondary-light: #99a1af;

  --color-primary: #0f172a; /* principal Color */
  --color-secondary: #1e293b;/* secondary Color */

  --color-tertiary: #334155;
  --color-quaternary: #ffffff;


  --color-primary-dark: color-mix(in srgb, var(--color-primary)70%, black);
  --color-primary-light: color-mix(in srgb, var(--color-primary)80%, white);
  
  --color-secondary-dark: color-mix(in srgb, var(--color-secondary)70%, black);
  --color-secondary-light: color-mix(in srgb, var(--color-secondary)80%, white);
 
  --color-tertiary-dark: color-mix(in srgb, var(--color-tertiary)70%, black);
  --color-tertiary-light: color-mix(in srgb, var(--color-tertiary)80%, white);

  --color-tertiary-dark: color-mix(in srgb, var(--color-tertiary)70%, black);
  --color-tertiary-light: color-mix(in srgb, var(--color-tertiary)80%, white);

  --color-quaternary-dark: color-mix(in srgb, var(--color-quaternary)70%, black);
  --color-quaternary-light: color-mix(in srgb, var(--color-quaternary)80%, white);

  --border-width-min:calc(var(--border-width) - 1px);
  
  
}


.border-width-selected {
    border-width: var(--border-width);
  }

.border-t-width-selected {
    border-top-width: var(--border-width);
  }
.border-b-width-selected {
    border-bottom-width: var(--border-width);
  }

.border-l-width-selected {
    border-left-width: var(--border-width);
  }
.border-r-width-selected {
    border-right-width: var(--border-width);
  }

  .border-x-width-selected {
    border-left-width: var(--border-width);
    border-right-width: var(--border-width);
  }

 
 .border-width-min-selected{
  border-width: calc(var(--border-width) - 1px);
 }

 .border-width-max-selected{
  border-width: calc(var(--border-width) + 1px);
 }

 .ring-width-selected{
 box-shadow: 0 0 0 calc(var(--border-width)-1px) var(--color-tertiary);
 }